*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* list-style: none; */
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {   
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; 
}

a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover {
    color: #F0c330;
    transition: 0.5s;
}

input {
    width: 20%;
    padding: 14px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: 4px; 
}

form {
    text-align: center;
    margin: 0 auto;
}

button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
button:hover {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    text-align: center;
}
button:active {
	position:relative;
	top:1px;
}
