body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.search:hover {
    background-color: lightsalmon;
}

.sidetool a {
    color: white;
    font-size: 20px;
}

.sidetool a:hover {
    color: red;
}

.sidetool a:hover {
    color: red;
}

.wikihead {
    font-size: 35px;
    color: white;
}

.sidebar {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.indexh {
    font-family: 'Roboto Slab', serif;
}

.tabletr{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
    font-weight: bold;
}

.tabletr:hover{
    background-color: lightgrey;
}

.tabletr a{
    color: black;
}
.tabletr a:hover{
    color: blue;
    text-decoration: none;
}

.penicon{
    color: black;
}

.penicon:hover{
    color: blue;
}

.penbtn{
    width: 100px;
    font-size: large;
    font-weight: bold;
    border: 1px black solid;
}
.penbtn:hover{
    border: 1px black solid;
}
.penbtn a{
    color: black;
}

/*New Entry*/
.NewEhead{
    font-family: 'Lobster', cursive;
}

input #newsubtn{
    color: black;
}

/*nonExistingEntry*/
.errorh{
    font-family: 'Roboto Slab', serif;
    color: red;
}
