<html>
    <head>
        <title>Captcha Failed</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'encyclopedia/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'encyclopedia/warning.css' %}">
    </head>
    <body>
        {% block content %}
        <nav>
            <label class="logo">Ursa Mentors</label>
            <ul>
                <li><a href="/">Wiki</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>   

        <div class="container">
        <div class="alert_fail"> 
            <h1>Captcha Failed!!!</h1>
            <p>You have been redirected here because you have failed the google reCAPTCHA challenge. Are you a bot? 
            </p>
        </div>
        </div>
        {% endblock %}
    </body>
</html>