<html>
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'encyclopedia/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'encyclopedia/dashboard.css' %}">
    </head>

    <body>                  
        <nav>
            <label class="logo">Ursa Mentors</label>
            <ul>
                <li><a href="/">Wiki</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>


        {% block content %}              
            <h1>Welcome, {{user.username}}</h1>
    </br>  

    <div class="container">
    <div class="login_success"> 
    <h3>Congratulations, you are now signed in! Now that you are signed in, you can:</h3>
    </br>
        <ul> 
            <li>Edit Pages</li>
            <li>Create Pages</li>
            <li>Click the Wiki nutton up top to access the wiki</li>
        </ul> 
    </div>  
</div>     
        <!-- Login, Logout and Register --> 
        {% if user.is_authenticated %}
        <center><button><a href="{% url 'logout' %}">Logout</a></button></center>
        {% endif %}
<!-- -->
        {% endblock %}
    </body>
</html>