<html>
    <head>
        <title>Login</title>
         {% load static %}
         <link rel="stylesheet" href="{% static 'encyclopedia/navbar.css' %}">
         <link rel="stylesheet" href="{% static 'encyclopedia/login.css' %}">
    </head>                
    <body>                
    {% block content %}
                          
    <nav>
        <label class="logo">Ursa Mentors</label>
        <ul>
            <li><a href="/">Wiki</a></li>
            <li><a href="/register/">Register</a></li>
        </ul>
    </nav>
<!--
    <center><h1>Login</h1></center>
    <form method="POST">                         
        {% csrf_token %} 
        {{form.as_p}}           
        
        <div class="input-group mb-3">
            <center><div class="g-recaptcha" data-sitekey="6LeHqeQZAAAAAKPJyDoRvBwT-2NhFm3ncCkdcLqe"></center></div>
        </div>
        
        <button>Login</button>                                                          
    </form>    -->                   
    
        {% endblock %}

        <div class="login">
            <h1>Login</h1>
            <form method="post">
            {% csrf_token %} 
            {{form.as_p}} 
              <p class="submit"><input type="submit" name="commit" value="Login"></p>
            </form>
          </div>
          
          <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
</html>
