<!-- { % extends 'index.html' %} -->

<html>
    <head>
        <title>Register Account</title>
         {% load static %}
         <link rel="stylesheet" href="{% static 'encyclopedia/navbar.css' %}">
         <link rel="stylesheet" href="{% static 'encyclopedia/register.css' %}">
    </head>                
    <body>             
        <nav>
            <label class="logo">Ursa Mentors</label>
            <ul>
                <li><a href="/">Wiki</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>         

{% block content %}     
<form method="POST" id="msform">
    {% csrf_token %} 
                                      
    <!-- fieldsets -->
    <fieldset>
        {{ form.as_p}}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <center><div class="g-recaptcha" data-sitekey="6LeHqeQZAAAAAKPJyDoRvBwT-2NhFm3ncCkdcLqe"></center></div>
    </fieldset>
    </br>
    <button>Register</button>   

  </form>
  {% endblock %}
    </body>
</html>
