{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

{% if search %}
    <div class="alert alert-success" role="alert">
        We found some of your results of "{{ value }}", If you are not satisfied <a href="/" class="alert-link">Please Go Back to Index</a>,
        Or else enter valid contents...
    </div>
        <center><h2>Searching for {{ value }}</h2></center>

    {% else %}
        <center><h1 class="indexh">All Pages</h1></center></br>
    {% endif %}

    <table class="table">
        <tbody>
        {% for entry in entries %}
            <tr class="tabletr">
                <td><a href="/wiki/{{ entry }}">{{ entry }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
  <!--  <h1>All Pages</h1> -->

    <!-- 
    <ul>
        {% for entry in entries %}
            <li>{{ entry }}</li>
        {% endfor %}
    </ul>
    -->