{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    </head>
    
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <center><h2 class="wikihead">Wiki</h2></center>
                <form action="{% url 'search' %}" method="GET"> <!-- Return a page by calling search function in views.py -->
                    <input class="search" type="text" name="q" placeholder="Search Wiki">
                </form>
                <div class = "sidetool">
                    <a href="{% url 'index' %}">Home</a>
                </div>
                {% if user.is_authenticated %}
                <div class="sidetool">
                    <a href="{% url 'newEntry' %}">Create New Page</a> <!-- If there are errors remove anchors -->
                </div>
                {% endif %}
                <div class="sidetool"> 
                    <a href="{% url 'random' %}" role="button">Random Page</a>
                </div>
                {% if not user.is_authenticated %}
                <div class="sidetool"> 
                    <a href="{% url 'register' %}" role="button">Register</a>
                </div>
                <div class="sidetool"> 
                    <a href="{% url 'login' %}" role="button">Login</a>
                </div>
                {% endif %}
                {% if user.is_authenticated %} <!-- Hide logout and dashboard if user is not signed in-->
                <div class="sidetool"> 
                    <a href="{% url 'logout' %}" role="button">Logout</a>
                </div>
                <div class="sidetool"> 
                    <a href="{% url 'dashboard' %}" role="button">Dashboard</a>
                </div>
                {% endif %}
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>