{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entryTitle }} not found!
{% endblock %}

{% block body %}

    <div class="alert alert-danger" role="alert">
    Error!!!<a href="{{ error_link }}" class="alert-link"> Please Go back To Site</a>. Looks new to me...
    </div>
    <div class="errorh">
    <center><h1><i><u>Error</u>!!!</i></h1></center>
    </div>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Sorry, something went wrong!!!</h4>
        <p>Hello {{user.username}} ... {{ messege1 }}<a href="/">Click here</a>
        or if you want to create a new entry <a href="{% url 'newEntry' %}">Click here</a>
        </p>
	<p>
	You may have entered an existing entry name or do not have permission to edit unless you are signed in
	</p>
        <hr>
        <p class="mb-0">{{ message2 }}</p>
    </div>


{% endblock %}
