<html>
    <head>
        <title>About</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'encyclopedia/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'encyclopedia/warning.css' %}">
    </head>
    <body>
        {% block content %}
        <nav>
            <label class="logo">Ursa Mentors</label>
            <ul>
                <li><a href="/">Wiki</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>   

        <div class="container">
        <div class="alert_fail"> 
            <h1>Warning...</h1>
            <p>You have been redirected here because you have tried to either create a new page or edit a page without being logged in.
                If you do not have an account to login to, please register an account now. If you do not have an account to login to, please
                register a new account now by clicking register in the top right corner. If you wish to return to the wiki without creating
                or editing a new page, please click "Wiki" in the top right corner. Thank you! 
            </p>
        </div>
        </div>
        {% endblock %}
    </body>
</html>