<html>
    <head>
        <title>Ursa Mentors</title>
    </head>

    <body>
        <h1>Ursa Mentors</h1>
        {% load static %}
        <h1>Start</h1>
        <p>This is the start page</p>
        <a href="/view_page">View</a>
        <a href="/save_page">Save</a>
    </body>
</html>