<html>
    <head>
        <title>{{page_name}} - Create</title>
    </head>

    <body>
        <h1>{{page_name}}</h1>
        This Page Does Not Exist <a href="/edit_page">Create?</a>
    </body>
</html>