<html>
    <head>
        <title>{{page_name}}</title>
    </head>

    <body>
        {% load static %}
        <h1>{{page_name}}</h1>
        {{content}}
        <hr/>
        <a href="/{{page_name}}/edit/">Edit This Page?</a>
    </body>
</html>